<div class="ui container" style="margin-top:20px;max-width:750px!important;margin-bottom:50px">
    <h4 class="ui header" style="margin-top:10px;text-align:center">It's <span style="font-family:Cookie; font-size:2rem; color:#4189C7">quiztime<span style="font-family:'Ceviche One'">!</span></span></h4>
    <h4 class="ui header" style="margin-top:2px;margin-bottom:10px; text-align:center">Create a quick quiz, challenge your students and gather their results!</h4>
    <div class="ui attached icon message">
        <img class="ui tiny image" src="school.png" style="margin-right:1em">
        <div class="content">
            <h2 class="header">
                Quick Quiz
                <span data-tooltip="To speed the process of quizzing, choices are not titled. It is recommended that the choices be given outside the system."><i class="question circle icon"></i></span>
            </h2>
            <p>Fill out the form below to create a quick quiz.</p>
        </div>
    </div>
    <form [formGroup]="quizForm" (ngSubmit)="onSubmit()" class="ui form attached compact fluid blue segment">
        <div class="field">
            <label>Quiz Title</label>
            <input placeholder="{{defaultTitle || 'Title'}}" formControlName="title" type="text">
        </div>
        <div class="field">
            <label>Points</label>
            <div class="ui buttons">
                <span class="ui green icon button" (click)="increaseAssignedPoints()">
                    <i class="plus icon"></i>
                </span>
                <span class="ui button" data-tooltip="Adjust winning points.">
                    <i class="up arrow icon"></i>
                    +{{ quizAssignedPoints }}
                </span>
                <span class="ui red icon button" (click)="decreaseAssignedPoints()">
                    <i class="minus icon"></i>
                </span>
            </div>

            <div class="ui buttons">
                <span class="ui green icon button" (click)="increaseDeducedPoints()">
                    <i class="plus icon"></i>
                </span>
                <span class="ui button" data-tooltip="Adjust losing points.">
                    <i class="down arrow icon"></i>
                    -{{ quizDeducedPoints }}
                </span>
                <span class="ui red icon button" (click)="decreaseDeducedPoints()">
                    <i class="minus icon"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label>Time Limit</label>
            <div class="ui buttons">
                <span class="ui green icon button" (click)="increaseTimeLimit()">
                    <i class="plus icon"></i>
                </span>
                <span class="ui button" data-tooltip="Adjust the duration of the session.">
                    <i class="clock icon"></i>
                    {{quizTimeLimit}}
                </span>
                <span class="ui red icon button" (click)="decreaseTimeLimit()">
                    <i class="minus icon"></i>
                </span>
            </div>
        </div>
        <h3 class="ui horizontal divider header">
            <button type="button" class="ui icon button" (click)="addChoice()">
                <i class="plus icon"></i>
            </button>
            Choices
            <button type="button" class="ui icon button" (click)="removeChoice(0)">
                <i class="remove icon"></i>
            </button>
        </h3>

        <div formArrayName="choices" class="ui message">
            <div class="ui two column centered stackable grid">
                <div class="column">
                    <div class="row">
                        <div class="ui two cards">
                            <div class="card" *ngFor="let choice of choices?.controls; let i=index" [formGroupName]="i">
                                <div class="content">
                                    <div class="header">
                                        Choice # {{ i+1 }}
                                    </div>
                                    <input type="checkbox" formControlName="correctness" value="true" class="ui checkbox" />
                                    Is this a correct choice?
                                    <input class="form-control hidden" formControlName="title" value="Choice" />
                                </div>
                                <div *ngIf="choice.value.correctness != true" class="ui bottom attached red button">
                                    WRONG
                                </div>
                                <div *ngIf="choice.value.correctness == true" class="ui bottom attached green button">
                                    CORRECT
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="inline field">
            <div class="ui slider checkbox">
                <input type="checkbox" id="terms" formControlName="startSessionBool" value="true" checked>
                <label for="terms">Start the quiz session immediately.</label>
            </div>
        </div>
        <button type="submit" [disabled]="quizForm.pristine" class="ui blue submit button">Create Quiz</button>
    </form>
    <div class="ui bottom attached warning message">
        <i class="icon help"></i>
        Already created a quiz? <a [routerLink]="['/fetch-quizzes']">Start session</a> instead.
    </div>
</div>




<!--<p>Form value: {{ quizForm.value | json }}</p>
<p>Form status: {{ quizForm.status | json }}</p>
<p>Quiz Title: {{ quizForm.get('title').value }}</p>
<p>{{quizForm.get('choices').value | json}}</p>-->






<!--

<div class="col-sm-6">
    <form [formGroup]="quizForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
            <label class="center-block">
                Title:
                <input class="form-control" formControlName="title">
            </label>
        </div>
        <label class="center-block">
            Points:
        </label>
        <div class="form-group form-inline">
            <label>
                Assigned (+):
                <!--<input class="form-control small" formControlName="assignedPoints">
                <strong style="font-size:2em;">{{ quizAssignedPoints }}</strong>
                <span class="btn btn-danger" (click)="decreaseAssignedPoints()">-</span>
                <span class="btn btn-success" (click)="increaseAssignedPoints()">+</span>
            </label>
            <label>
                Deduced (-):
                <strong style="font-size:2em;">{{ quizDeducedPoints }}</strong>
                <!--<input class="form-control small" formControlName="deducedPoints">
                <span class="btn btn-danger" (click)="decreaseDeducedPoints()">-</span>
                <span class="btn btn-success" (click)="increaseDeducedPoints()">+</span>
            </label>
            <label>
                Time limit:
                <strong style="font-size:2em;">{{ quizTimeLimit }}</strong>
                <span class="btn btn-danger" (click)="decreaseTimeLimit()">-</span>
                <span class="btn btn-success" (click)="increaseTimeLimit()">+</span>
            </label>
        </div>

        <div formArrayName="choices" class="well well-lg">
            <div class="row">

                <div *ngFor="let choice of choices?.controls; let i=index" [formGroupName]="i">
                    <div class="col-md-3 center-block">
                        <h4>Choice #{{i+1}}</h4>
                        <div style="margin-left: 1em;">
                            <div class="form-group">
                                <label class="center-block">
                                    <input type="checkbox" formControlName="correctness" value="true" class="checkbox-inline" />
                                    <button (click)="removeChoice(i)" type="button" class="btn btn-sm btn-danger">X</button>
                                    <input class="form-control hidden" formControlName="title" value="Choice" />
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
                <button (click)="addChoice()" type="button" class="btn btn-lg btn-default">+</button>
            </div>
        </div>
        <button type="submit"
                [disabled]="quizForm.pristine" class="btn btn-success btn-lg">
            Add Quiz
        </button>
    </form>
</div>


<div class="col-sm-6">
    <div class="ui two column centered stackable grid">
        <div class="column">
            <h2 class="header">Preview</h2>
            <h4 class="header">Maximum points: {{ quizAssignedPoints }}</h4>
            <div class="row">
                <div class="ui two cards">
                    <div class="card" *ngFor="let choice of quizForm.get('choices')?.value; let i = index">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui inverted button">Add Friend</div>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="header">
                                Choice # {{ i+1 }}
                            </div>
                        </div>
                        <div *ngIf="choice.correctness != true" class="ui bottom attached red button">
                            WRONG
                        </div>
                        <div *ngIf="choice.correctness == true" class="ui bottom attached green button">
                            CORRECT
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->