<h1>New Quiz</h1>

<div class="col-sm-6">
    <form [formGroup]="quizForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
            <label class="center-block">
                Title:
                <input class="form-control" formControlName="title">
            </label>
        </div>
        <label class="center-block">
            Points:
        </label>
        <div class="form-group form-inline">
            <label>
                Assigned (+):
                <!--<input class="form-control small" formControlName="assignedPoints">-->
                <strong style="font-size:2em;">{{ quizAssignedPoints }}</strong>
                <span class="btn btn-danger" (click)="decreaseAssignedPoints()">-</span>
                <span class="btn btn-success" (click)="increaseAssignedPoints()">+</span>
            </label>
            <label>
                Deduced (-):
                <strong style="font-size:2em;">{{ quizDeducedPoints }}</strong>
                <!--<input class="form-control small" formControlName="deducedPoints">-->
                <span class="btn btn-danger" (click)="decreaseDeducedPoints()">-</span>
                <span class="btn btn-success" (click)="increaseDeducedPoints()">+</span>
            </label>
            <label>
                Time limit:
                <strong style="font-size:2em;">{{ quizTimeLimit }}</strong>
                <span class="btn btn-danger" (click)="decreaseTimeLimit()">-</span>
                <span class="btn btn-success" (click)="increaseTimeLimit()">+</span>
            </label>
        </div>
        
        <div formArrayName="choices" class="well well-lg">
            <div class="row">
                
                    <div *ngFor="let choice of choices?.controls; let i=index" [formGroupName]="i">
                        <div class="col-md-3 center-block">
                        <h4>Choice #{{i+1}}</h4>
                        <div style="margin-left: 1em;">
                            <div class="form-group">
                                <label class="center-block">
                                    <input type="checkbox" formControlName="correctness" value="true" class="checkbox-inline" />
                                    <button (click)="removeChoice(i)" type="button" class="btn btn-sm btn-danger">X</button>
                                    <input class="form-control hidden" formControlName="title" value="Choice"/>
                                </label>
                            </div>
                        </div>
                            </div>
                    
                </div>
                        <button (click)="addChoice()" type="button" class="btn btn-lg btn-default">+</button>
                </div>
            </div>
        <button type="submit"
                [disabled]="quizForm.pristine" class="btn btn-success btn-lg">
            Add Quiz
        </button> 
    </form>
</div>


<div class="col-sm-6">
    <div class="ui two column centered stackable grid">
        <div class="column">
            <h2 class="header">Preview</h2>
            <h4 class="header">Maximum points: {{ quizAssignedPoints }}</h4>
            <div class="row">
                <div class="ui two cards">
                    <div class="card" *ngFor="let choice of quizForm.get('choices')?.value; let i = index">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui inverted button">Add Friend</div>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="header">
                                Choice # {{ i+1 }}
                            </div>
                        </div>
                        <div *ngIf="choice.correctness != true" class="ui bottom attached red button">
                            WRONG
                        </div>
                        <div *ngIf="choice.correctness == true" class="ui bottom attached green button">
                            CORRECT
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="col-sm-3">


    <div *ngFor="let choice of quizForm.get('choices').value; let i = index">
        <div class="col-sm-6" style="background-color:orange;">
            <p>Choice # {{ i+1 }}</p>
            <span *ngIf="choice.correctness == true" style="color:forestgreen;"><strong>Correct</strong></span>
            <span *ngIf="choice.correctness != true" style="color:red;"><strong>Wrong</strong></span>
        </div>
    </div>
        </div>-->
</div>

<!--<p>Form value: {{ quizForm.value | json }}</p>
<p>Form status: {{ quizForm.status | json }}</p>
<p>Quiz Title: {{ quizForm.get('title').value }}</p>-->