<div class="ui container" style="margin-top:50px;max-width:750px!important">

    <h4 class="ui header" style="margin-top:10px;text-align:center">Results for <span style="font-family:Cookie; font-size:2rem; color:#4189C7">{{quiz?.title}}<span style="font-family:'Ceviche One'">!</span></span></h4>
    <div class="ui fluid button primary" style="padding:8px" (click)="selectQuiz(quiz)">Start new session</div>

    <table class="ui celled blue table">
        <thead>
            <tr>
                <th class="two wide"><i class="user icon"></i>Username</th>
                <th class="two wide"><i class="calculator icon"></i>Score</th>
                <th class="two wide"><i class="calendar icon"></i>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let result of quizResults">
                <td>{{ result?.sessionParticipant.username }}</td>
                <td>{{ result?.score }} out of {{ result?.session.quiz.assignedPoints }}</td>
                <td>{{ result?.session.dateCreated | date}}</td>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <th colspan="4">
                    <div class="ui right floated pagination menu">
                        <a class="icon item">
                            <i class="left chevron icon"></i>
                        </a>
                        <a class="item">1</a>
                        <a class="item">2</a>
                        <a class="item">3</a>
                        <a class="item">4</a>
                        <a class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>
</div>