<!--<div *ngIf="isBrowser && !this.auth.isAuthenticated"><router-outlet></router-outlet></div>
<div class='container-fluid' *ngIf="isBrowser && this.auth.isAuthenticated">
    <div class='row'>
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-sm-7 body-content' style="margin-top:2em">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>-->
<div class="ui center aligned error message" *ngIf="error != null && error.length > 0">
    <h6 *ngFor="let e of error">{{ e }}</h6>
    <button class="ui default button" (click)="clearError()">Ok</button>
</div>

<nav-menu></nav-menu>
       
