<div class="ui container" style="margin-top:50px;max-width:820px!important">
    <!-- ============= HEADER =============  -->
    <h4 class="ui header" style="margin-top:10px;text-align:center"><span style="font-family:Cookie; font-size:2rem; color:#4189C7">class time<span style="font-family:'Ceviche One'">!</span></span></h4>
    <h4 class="ui header" style="margin-top:2px;margin-bottom:10px; text-align:center">Create and manage your class groups.</h4>

    <!-- ============= CREATE GROUP FORM =============  -->
    <div *ngIf="groupShowed" style="text-align:center">
        <div class="ui tiny form">
            <div class="field">
                <label style="display:none">Group title</label>
                <input [(ngModel)]="groupData.title" style="width:300px" placeholder="Group title" type="text" required>
            </div>

            <button [ngClass]="{'disabled loading': groupCreated}" class="ui primary button" style="width:300px; padding:8px; margin:0" type="button" (click)="createGroup()">Create group</button>
        </div>
    </div>
    <err></err>
    <button *ngIf="!groupShowed" class="ui fluid primary button" style=" padding:8px" (click)="showGroupForm()">Create new group</button>

    <!-- ============= GROUPS TABLE =============  -->

    <div *ngIf="groups != null" class="ui middle aligned selection divided list">
        <div [routerLink]="['/groups/results/',group.groupId]" *ngFor="let group of groups" class="item">
            <a [routerLink]="['/groups/quizzes/',group.groupId]" class="ui orange large circular label">{{ group.quizzes.length }}</a>
            <div class="content" style="display:inline-block;margin-left:10px">
                <a class="header">{{group.title}}</a>
                <div class="description">Created on {{ group.dateCreated | date:'mediumDate'}}</div>
            </div>
        </div>
    </div>
</div>
