<h1>Session started</h1>

<!--<p *ngIf="!hostedSession"><em>Loading...</em></p>-->

<h2>Ask your participants to join session id: {{ hostedSession?.generatedHostId }} {{ hostedSession?.status }} </h2>
<h2>Press start when you're ready</h2>
<button class="btn btn-primary">Start</button>

<div class="row">
    <div class="col-sm-2">
        <h2>Participants counter</h2>
        <h2>{{ participants.length }}</h2>
    </div>
    <div class="col-sm-9">
        <h2>Question title: {{ hostedSession?.quiz?.title }}</h2>
    </div>

    <div class="col-sm-2">
        <h2>Max score: {{ hostedSession?.quiz?.assignedPoints }}</h2>
    </div>
</div>

<!--<div *ngIf="!participants" class="row">
    <h3>Already in</h3>
    <ul *ngFor="let result of hostedSession?.results">
        <li>{{ result.sessionParticipant.username }}</li>
    </ul>
</div>-->

<div class="row">
    <h3>Already in session</h3>
    <ul *ngFor="let participant of participants">
        <li>{{ participant }}</li>
    </ul> 
</div>