<div class="ui container" id="thiswrapper">
    <div *ngIf="!session" class="ui segment" style="padding:5em;">
        <div class="ui active dimmer" style="background-color:#4183c4">
            <div class="ui indeterminate large text loader">
                Loading... <br />
                Ask your students to go to the Join page while the quiz loads
            </div>
        </div>
    </div>

    <!-- STATUS: SESSION CANCELLED -->
    <div *ngIf="session?.status == 8">
        <div class="ui message" style="margin-top:20px">
            <i class="red close icon" [routerLink]="['/home']"></i>
            <h3 class="ui header" style="margin-top:35px;margin-bottom:2px; text-align:center">Sorry,</h3>
            <h4 class="ui red header" style="margin-top:0;text-align:center"><span style="font-family:Cookie; font-size:2rem">quiz ended<span style="font-family:'Ceviche One'">!</span></span></h4>
            <h4 class="ui header" style="margin-top:35px;text-align:center">This quiz session has ended.</h4>
            <h4 class="ui header" style="margin-top:35px;text-align:center">That may be because not enough players entered the challenge!</h4>
            <h4 class="ui header" style="margin-top:35px;text-align:center"> Return to <a style="color:#4189C7; cursor:pointer; font-weight: bold" [routerLink]="['/home']">Home screen</a></h4>
        </div>
    </div>

    <!-- STATUS: Waiting for players to join -->
    <div *ngIf="session?.status == 1">
        <h2 class="ui center aligned header">

            <div class="ui center aligned header" style="margin-top:0;margin-bottom: 5px;text-align:center">It's <span style="font-family:Cookie; font-size:4rem; color:#4189C7">quiztime<span style="font-family:'Ceviche One'">!</span></span></div>

            <button (click)="updateSession(session?.quiz.timeLimit, session?.quiz.challengeTimer)" style="margin-top: 15px;margin-left:auto!important; margin-right:auto!important; display:block" type="button" class="circular ui huge green submit button">Start</button>
        </h2>

        <!--<h3 style="text-align:center; margin-top:0">(<i class="plus green icon"></i> {{session?.quiz.assignedPoints}} <i class="minus red icon"></i>{{session?.quiz.deducedPoints}} <i class="clock black icon"></i>{{session?.quiz.timeLimit}}s)</h3>-->

        <div class="ui attached message">
            <i class="red close icon" [routerLink]="['/home']"></i>
            <div class="header" style="font-size:2em">
                Welcome to {{ session?.quiz.title }}!
            </div>
            <p style="font-size:2em">Join using the id <span style="font-weight:bold">{{session?.generatedHostId}}</span></p>

            <div class="ui statistics">
                <div class="statistic">
                    <div class="value">
                        <i class="green plus icon"></i> {{session?.quiz.assignedPoints}}
                    </div>
                    <div class="label">
                        Points
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        <i class="red minus icon"></i> {{session?.quiz.deducedPoints}}
                    </div>
                    <div class="label">
                        Points
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        <i class="black clock icon"></i> {{session?.quiz.challengeTimer}}
                    </div>
                    <div class="label">
                        Seconds
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        <i class="black users icon"></i>
                        {{ session?.results.length }}
                    </div>
                    <div class="label">
                        Participants
                    </div>
                </div>
            </div>
        </div>

        <div class="ui attached blue segment">
            <div class="ui horizontal list" *ngFor="let result of session?.results">
                <a class="ui image label" *ngIf="result.resultId%2 == 0">
                    <img src="/joe.jpg">
                    {{result.sessionParticipant.name}}
                </a>
                <a class="ui image label" *ngIf="result.resultId%2 == 1">
                    <img src="/stevie.jpg">
                    {{result.sessionParticipant.name}}
                </a>
            </div>
        </div>
    </div>

    <!-- STATUS = 2: Timer before question -->
    <div *ngIf="session?.status == 2">
        <div class="ui center aligned header" style="margin-top:30px;margin-bottom: 5px;text-align:center"><span style="font-family:Cookie; font-size:4rem; color:#4189C7">quiztime<span style="font-family:'Ceviche One'">!</span></span> <br />starts in</div>

        <div class="ui huge statistics">
            <div class="red statistic" style="margin-left:auto; margin-right: auto; margin-top: 20px">
                <div class="value">
                    {{counter1}}
                </div>
                <div class="label">
                    SECONDS
                </div>
            </div>
        </div>
    </div>
    <!-- STATUS = 3: Display question and timer -->
    <div *ngIf="session?.status == 3">
        <div class="ui center aligned header" style="margin-top:30px;margin-bottom: 5px;text-align:center"><span style="font-family:Cookie; font-size:4rem; color:#4189C7">{{ session?.quiz?.title }}<span style="font-family:'Ceviche One'">!</span></span> <br />ends in</div>
        <div class="ui huge statistics">
            <div *ngIf="counter2 > session.quiz.timeLimit/2" class="green statistic" style="margin-left:auto; margin-right: auto; margin-top: 20px">
                <div class="value">
                    {{counter2}}
                </div>
                <div class="label">
                    SECONDS
                </div>
            </div>
            <div *ngIf="counter2 <= session.quiz.timeLimit/2" class="red statistic" style="margin-left:auto; margin-right: auto; margin-top: 20px">
                <div class="value">
                    {{counter2}}
                </div>
                <div class="label">
                    SECONDS
                </div>
            </div>
        </div>

        <div class="ui attached message">
            <i class="red close icon" [routerLink]="['/home']"></i>
            <p style="font-size:2em">Pick one of the choices below!</p>
        </div>

        <div class="ui attached blue segment">
            <div class="ui two column centered stackable grid" style="margin-top:5em; margin-bottom:5em">
                <div class="column">
                    <div class="row">
                        <div class="ui two cards">
                            <div class="orange card" *ngFor="let choice of session?.quiz?.choices.sort(compare)">
                                <div class="content">
                                    <div class="header" style="margin-bottom:5px;margin-top:5px;text-align:center; font-size:20px">
                                        {{ choice.title }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- STATUS = 4: Display correct answer -->
    <div *ngIf="session?.status == 4">
        <div *ngIf="counter4 > 0" class="ui center aligned header" style="margin-top:30px;margin-bottom: 5px;text-align:center"><span style="font-family:Cookie; font-size:4rem; color:#4189C7">Challenge<span style="font-family:'Ceviche One'">!</span></span> <br />starts in</div>
        <div *ngIf="!(counter4>0)" class="ui center aligned header" style="margin-top:30px;margin-bottom: 5px;text-align:center"><span style="font-family:Cookie; font-size:4rem; color:#4189C7">quiz over<span style="font-family:'Ceviche One'">!</span></span> <br /> <br />Thank you for joining!</div>

        <div class="ui huge statistics" *ngIf="counter4 > 0">
            <div *ngIf="counter3 > 5" class="green statistic" style="margin-left:auto; margin-right: auto; margin-top: 20px">
                <div class="value">
                    {{counter3}}
                </div>
                <div class="label">
                    SECONDS
                </div>
            </div>
            <div *ngIf="counter3 <= 5" class="red statistic" style="margin-left:auto; margin-right: auto; margin-top: 20px">
                <div class="value">
                    {{counter3}}
                </div>
                <div class="label">
                    SECONDS
                </div>
            </div>
        </div>

        <!-- HEADER: WOULD YOU LIKE TO WIN MORE POINTS?  -->
        <div class="ui attached message">
            <i class="red close icon" [routerLink]="['/home']"></i>
            <div class="header" style="font-size:2em" *ngIf="!(counter4 > 0)">
                Are you one of the winners?
            </div>
            <div class="header" style="font-size:2em" *ngIf="counter4 > 0">
                Would you like to win more points?
            </div>
            <p style="font-size:2em" *ngIf="counter4 > 0">Join the challenge by pressing join!</p>
        </div>

        <!-- SEGMENT: CORRECT ANSWER WAS -->
        <div class="ui attached blue segment">
            <h1 class="ui center aligned header" style="margin-top:2em">The correct answer was:</h1>
            <div class="ui two column centered stackable grid">
                <div class="column">
                    <div class="row">
                        <div class="ui two cards">
                            <div class="orange card" *ngFor="let choice of session?.quiz?.choices.sort(compare)">
                                <div class="content" *ngIf="choice.correctness == true">
                                    <div class="ui green header" style="margin-bottom:5px;margin-top:5px;text-align:center; font-size:25px">
                                        {{ choice.title }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="ui center aligned header" style="margin-top:5em" *ngIf="counter4 > 0">Challenge: A random participant will be chosen to explain the answer and the others will vote on how well he explained!</h4>
        </div>
    </div>
    <!--</div>-->
    <!-- STATUS = 5: Timer 30 seconds -->
    <div *ngIf="session?.status == 5">
        <div class="ui center aligned header" style="margin-top:30px;margin-bottom: 5px;text-align:center"><span style="font-family:Cookie; font-size:4rem; color:#4189C7">challenge<span style="font-family:'Ceviche One'">!</span></span> <br />ends in</div>

        <div class="ui huge statistics">
            <div *ngIf="counter4 > 15" class="green statistic" style="margin-left:auto; margin-right: auto; margin-top: 20px">
                <div class="value">
                    {{counter4}}
                </div>
                <div class="label">
                    SECONDS
                </div>
            </div>

            <div *ngIf="counter4 <= 15" class="red statistic" style="margin-left:auto; margin-right: auto; margin-top: 20px">
                <div class="value">
                    {{counter4}}
                </div>
                <div class="label">
                    SECONDS
                </div>
            </div>
        </div>

        <h2 class="ui center aligned  header">
            <img src="/patrick.png" class="ui circular image">
            <span style="color:#4189C7">{{(selectedParticipant != null) ? (selectedParticipant?.name) : "No challengers"}}</span> <br />
            Please explain your judgement! <br />
            Your peers will decide if you win or lose points!
        </h2>
    </div>

    <!-- STATUS = 6: Voting for 10 seconds -->
    <div *ngIf="session?.status == 6">
        <div class="ui center aligned header" style="margin-top:30px;margin-bottom: 5px;text-align:center"><span style="font-family:Cookie; font-size:4rem; color:#4189C7">voting<span style="font-family:'Ceviche One'">!</span></span> <br />ends in</div>

        <div class="ui huge statistics">
            <div class="green statistic" style="margin-left:auto; margin-right: auto; margin-top: 20px">
                <div class="value">
                    {{counter5}}
                </div>
                <div class="label">
                    SECONDS
                </div>
            </div>
        </div>
        <h2 class="ui center aligned header">Please vote! <br /> Did you understand the explanation?</h2>
    </div>

    <!-- Show votes && leaderboard -->
    <div *ngIf="session?.status == 7">
        <div class="ui center aligned header" style="margin-top:30px;margin-bottom: 5px;text-align:center"><span style="font-family:Cookie; font-size:4rem; color:#4189C7">voting results<span style="font-family:'Ceviche One'">!</span></span> <br /> <br />The quiz is now over!</div>

        <h4 *ngIf="yesVotes >= noVotes" class="ui header" style="margin-top:35px; text-align:center">Congratulations, {{ session?.selectedToExplain.username }}! You <span style="color:green">win</span> 10 more points!</h4>
        <h4 *ngIf="yesVotes < noVotes" class="ui header" style="margin-top:35px; text-align:center">Sorry, {{ session?.selectedToExplain.username }}! You <span style="color:red">lose</span> all your points!</h4>

        <div>
            <div style="display: block; width:500px; margin-left:auto; margin-right:auto; margin-top:10px">
                <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType"></canvas>
            </div>
        </div>
    </div>
</div>
