<div *ngIf="isBrowser && auth?.isAuthenticated">
    <div *ngIf="isBrowser && auth.isAuthenticated" class="ui text container">
        <h3 class="ui header" style="margin-top:35px;margin-bottom:2px; text-align:center">Welcome, {{ auth.name }}!</h3>
        <h4 class="ui header" style="margin-top:0;text-align:center">It's <span style="font-family:Cookie; font-size:2rem; color:#4189C7">quiztime<span style="font-family:'Ceviche One'">!</span></span></h4>
        <div class="ui two cards" style="margin-top:35px">

            <div class="card">
                <div class="content">
                    <div class="header">Join quiz</div>
                    <div class="description">
                        Join a quiz session <br /> Use the quiz session id provided <br /> Dare to join the challenge mode! <br /> Vote your peers!
                    </div>
                </div>
                <div class="ui bottom attached orange button" [routerLink]="['/join']">
                    Click here to<br /> Join us!
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="header">Quick quiz</div>
                    <div class="description">
                        Test your students or friends in an interactive manner <br /> Gather results and create reports
                    </div>
                </div>
                <div class="ui bottom attached primary button" [routerLink]="['/new/quiz']">
                    Click here to <br /> Create a quiz!
                </div>
            </div>
        </div>

        <div *ngIf="isBrowser && auth.isAuthenticated && participantResults" class="ui blue segment" style="margin-top:2em">
            <h2 class="ui header">
                <div class="content">
                    Last 5 results
                </div>
            </h2>
            <div class="ui very relaxed divided ordered list">
                <div class="item" *ngFor="let result of participantResults">
                    <div class="content">
                        <div class="header">Scored <span *ngIf="result.score > 0" style="font-size:15px; font-weight:bold"><i class="plus green icon"></i>{{result.score}}</span> <span *ngIf="result.score < 0" style="font-size:15px; font-weight:bold"><i class="minus red icon"></i>{{result.score  * (-1)}}</span></div>
                        <div class="description">In <span style="color:#4189C7">{{result.session.quiz.title}}</span> (<span style="color:#4189C7">{{result.session.quiz.group.title}}</span>) on {{result.session.dateCreated | date}}.</div>
                    </div>
                </div>
            </div>
            <button [routerLink]="['/fetch-results']" type="button" class="ui default fluid button" style="padding:8px">View all results</button>
        </div>
    </div>
    </div>
