<h1 *ngIf="isBrowser && auth?.isAuthenticated" class="ui header" style="margin-bottom: 1em">Hello, {{ auth.name }}!</h1>
<h1 *ngIf="isBrowser && !auth?.isAuthenticated" class="ui header" style="margin-bottom: 1em">Hello, stranger!</h1>


<div class="ui two column centered stackable grid">
    <div class="row">
        <div class="column">
            <div class="ui two cards">
                <div class="card">
                    <div class="content">
                        <div class="header">Quick Quiz</div>
                        <div class="description">
                            Test your students or friends in an interactive manner <br /> Gather results and create reports
                        </div>
                    </div>
                    <div class="ui bottom attached primary button" [routerLink]="['/new/quiz']">
                        Click here to <br /> Create a quiz!
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="header">Join quiz</div>
                        <div class="description">
                            Join a quiz session <br /> Use the session id provided <br /> No account required <br /> Use a friendly username!
                        </div>
                    </div>
                    <div class="ui bottom attached yellow button" [routerLink]="['/join']">
                        Click here to<br /> Join us!
                    </div>
                </div>

                <!--<div class="card">
                    <div class="content">
                        <div class="header">Secondary button card</div>
                        <div class="description">
                            Requested Loan Type: <br /> Personal Loan
                        </div>
                    </div>
                    <div class="ui bottom attached orange button">
                        Secondary <br /> Status: Approved
                    </div>
                </div>

                <div class="card">
                    <div class="content">
                        <div class="header">Secondary button card</div>
                        <div class="description">
                            Requested Loan Type: <br /> Personal Loan
                        </div>
                    </div>
                    <div class="ui bottom attached orange button">
                        Secondary <br /> Status: Approved
                    </div>
                </div>-->

            </div>
        </div>
        <div *ngIf="isBrowser && auth.isAuthenticated" class="column">
            <table class="ui very basic table">
                <thead>
                    <tr>
                        <th colspan="3">
                            Last 5 results
                        </th>
                    </tr>
                    <tr>
                        <th>Points</th>
                        <th>Quiz</th>
                        <th>By</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let result of participantResults">
                        <td>{{result.score}}</td>
                        <td>{{result.session.quiz.title}}</td>
                        <td>{{result.session.quiz.creator.username }}</td>
                    </tr>
                </tbody>
                <tfoot class="full-width">
                    <tr>
                        <!--<th></th>-->
                        <th colspan="3">
                            <div class="ui right floated small labeled icon button" [routerLink]="['/fetch-results']">
                                <i class="address card icon"></i> View All
                            </div>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<!--<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h2>Actions</h2>
            <button class="btn btn-primary" [routerLink]="['/new/quiz']">New Quiz</button>
            <button class="btn btn-warning" [routerLink]="['/join']">Join Quiz Session</button>

            <div *ngFor="let result of hostedSession?.results">
            {{ result.sessionParticipant.username }}
                </div>
        </div>
        <div class="col-sm-5">
            <h2>Recent Results</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Quiz</th>
                        <th>Date</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>-->
        <!--<div class="ui two cards">
            <div class="card">
                <div class="content">
                    <div class="header">Quick Quiz</div>
                    <div class="description">
                        Test your students or friends in an interactive manner <br /> Gather results and create reports
                    </div>
                </div>
                <div class="ui bottom attached primary button" [routerLink]="['/new/quiz']">
                    Click here <br /> to <br /> Create a new quiz!
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="header">Secondary button card</div>
                    <div class="description">
                        Requested Loan Type: <br /> Personal Loan
                    </div>
                </div>
                <div class="ui bottom attached orange button">
                    Secondary <br /> Status: Approved
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="header">Default button card</div>
                    <div class="description">
                        Requested Loan Type: <br /> Car Loan
                    </div>
                </div>
                <div class="ui bottom attached button">
                    Default <br /> Status: Draft
                </div>
            </div>
        </div>-->



<!--<p>Welcome to your new single-page application, built with:</p>
<ul>
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
    <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
    <li><a href='https://webpack.github.io/'>Webpack</a> for building and bundling client-side resources</li>
    <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>To help you get started, we've also set up:</p>
<ul>
    <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
    <li><strong>Server-side prerendering</strong>. For faster initial loading and improved SEO, your Angular app is prerendered on the server. The resulting HTML is then transferred to the browser where a client-side copy of the app takes over.</li>
    <li><strong>Webpack dev middleware</strong>. In development mode, there's no need to run the <code>webpack</code> build tool. Your client-side resources are dynamically built on demand. Updates are available as soon as you modify any file.</li>
    <li><strong>Hot module replacement</strong>. In development mode, you don't even need to reload the page after making most changes. Within seconds of saving changes to files, your Angular app will be rebuilt and a new instance injected is into the page.</li>
    <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and the <code>webpack</code> build tool produces minified static CSS and JavaScript files.</li>
</ul>-->
