<div *ngIf="isBrowser && !auth?.isAuthenticated">
    <div class="ui grid center aligned container">
        <div class="sixteen wide column">
        <h1 style="font-family:Cookie; font-size:60px; margin: 22px auto 12px; color:#4189C7">quiztime<span style="font-family:'Ceviche One'">!</span></h1>
        <h4 style="font-size:17px; margin:0 40px 40px; color: #b3b3b3">Join a quiz session or sign up to create quizzes and track your results.</h4>

        <div *ngIf="joinShowed">
            <form [formGroup]="joinSessionForm" class="ui tiny form">
                <div class="field">
                    <label style="display:none">Quiz Session ID</label>
                    <input formControlName="quizSessionId" style="width:300px" placeholder="Quiz Session ID" type="text" required>
                </div>
                <div class="field">
                    <label style="display:none">Username</label>
                    <input formControlName="username" style="width:300px" placeholder="Username" type="text" required>
                </div>
                <button (click)="onSubmitJoinForm()" class="ui primary button" style="width:300px; padding:8px; margin:0">Join quiz</button>
            </form>
        </div>
        <button *ngIf="!joinShowed" class="ui primary button" style="width:300px; padding:8px; margin:0" (click)="showJoinForm()">Join quiz session</button>

        <div class="ui horizontal divider">
            Or
        </div>

        <div class="ui blue card" style="margin:auto">
            <div class="content">
                <img class="right floated mini ui image" src="android-chrome-192x192.png" alt="Small application logo.">
                <div class="header left floated">
                    <div *ngIf="!loginShowed && !registerShowed">
                        Register a new account
                    </div>
                    <div *ngIf="loginShowed">
                        User log in
                    </div>

                    <div *ngIf="registerShowed">User registration</div>
                </div>
                <div class="meta left floated">
                    <div *ngIf="!loginShowed && !registerShowed">Or log in with an existing account</div>
                </div>
                <div class="description">
                    <div *ngIf="!loginShowed && !registerShowed">You need to be signed in to create quizzes and track results.</div>

                    <!-- LOGIN FORM -->
                    <div *ngIf="loginShowed">
                        <div class="ui tiny form" style="margin-top:15px">
                            <div class="field">
                                <label style="display:none">Username</label>
                                <input [(ngModel)]="loginData.username" style="width:250px" placeholder="Username" type="text" required>
                            </div>
                            <div class="field">
                                <label style="display:none">Password</label>
                                <input [(ngModel)]="loginData.password" style="width:250px" placeholder="Password" type="password" required>
                            </div>
                            <button (click)="onSubmitLoginForm()" class="ui primary button" style="width:250px; padding:8px; margin:0">Log in</button>
                        </div>
                    </div>

                    <!-- REGISTRATION FORM -->
                    <div *ngIf="registerShowed">
                        <form [formGroup]="registerForm" class="ui tiny form" style="margin-top:15px">
                            <div class="field">
                                <label style="display:none">Username</label>
                                <input formControlName="username" style="width:250px" placeholder="Username" type="text" required>
                            </div>
                            <div class="field">
                                <label style="display:none">Name</label>
                                <input formControlName="name" style="width:250px" placeholder="First Name" type="text" required>
                            </div>
                            <div class="field">
                                <label style="display:none">Password</label>
                                <input formControlName="password" style="width:250px" placeholder="Password" type="password" required>
                            </div>
                            <div class="field">
                                <label style="display:none">Password Confirmation</label>
                                <input formControlName="passwordConfirmation" style="width:250px" placeholder="Confirm Password" type="password" required>
                            </div>
                            <button (click)="onSubmitRegisterForm()" class="ui primary button" style="width:250px; padding:8px; margin:0">Register</button>
                        </form>
                    </div>

                </div>
            </div>

            <div class="extra content" *ngIf="!loginShowed && !registerShowed">
                <div class="ui two buttons">
                    <div class="ui basic green button" (click)="showLoginForm()">Log in</div>
                    <div class="ui basic red button" (click)="showRegisterForm()">Register</div>
                </div>
            </div>

            <div class="extra content" *ngIf="loginShowed">
                No account? <div style="color:#4189C7; cursor: pointer; font-weight: bold" (click)="hideLogin()">Register here.</div>
            </div>

            <div class="extra content" *ngIf="registerShowed">
                Have an account? <div style="color:#4189C7; cursor:pointer; font-weight: bold" (click)="hideRegister()">Login here.</div>
            </div>
        </div>
        </div>
    </div>
</div>

<!-- LOGGED IN -->

<div *ngIf="isBrowser && auth?.isAuthenticated">
    <div *ngIf="isBrowser && auth.isAuthenticated" class="ui text container">
        <h3 class="ui header" style="margin-top:35px;margin-bottom:2px; text-align:center">Welcome, {{ auth.name }}!</h3>
        <h4 class="ui header" style="margin-top:0;text-align:center">It's <span style="font-family:Cookie; font-size:2rem; color:#4189C7">quiztime<span style="font-family:'Ceviche One'">!</span></span></h4>
        <div class="ui two cards" style="margin-top:35px">
            <div class="card">
                <div class="content">
                    <div class="header">Quick Quiz</div>
                    <div class="description">
                        Test your students or friends in an interactive manner <br /> Gather results and create reports
                    </div>
                </div>
                <div class="ui bottom attached primary button" [routerLink]="['/new/quiz']">
                    Click here to <br /> Create a quiz!
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="header">Join quiz</div>
                    <div class="description">
                        Join a quiz session <br /> Use the session id provided <br /> No account required <br /> Use a friendly username!
                    </div>
                </div>
                <div class="ui bottom attached yellow button" [routerLink]="['/join']">
                    Click here to<br /> Join us!
                </div>
            </div>
        </div>

        <div *ngIf="isBrowser && auth.isAuthenticated && participantResults" class="column" style="margin-top:50px">
            <table class="ui very basic table">
                <thead>
                    <tr>
                        <th colspan="3">
                            Last 5 results
                        </th>
                    </tr>
                    <tr>
                        <th>Points</th>
                        <th>Quiz</th>
                        <th>By</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let result of participantResults">
                        <td>{{result.score}}</td>
                        <td>{{result.session.quiz.title}}</td>
                        <td>{{result.session.quiz.creator.username }}</td>
                    </tr>
                </tbody>
                <tfoot class="full-width">
                    <tr>
                        <th></th>
                        <th colspan="2">
                            <div class="ui right floated small labeled icon button" [routerLink]="['/fetch-results']">
                                <i class="address card icon"></i> View All
                            </div>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>

        <!--
        <h1 *ngIf="isBrowser && auth?.isAuthenticated" class="ui header" style="margin-bottom: 1em">Hello, {{ auth.name }}!</h1>

        <div class="ui two column centered stackable grid">
            <div class="row">
                <div class="column">
                    <div class="ui two cards">
                        <div class="card">
                            <div class="content">
                                <div class="header">Quick Quiz</div>
                                <div class="description">
                                    Test your students or friends in an interactive manner <br /> Gather results and create reports
                                </div>
                            </div>
                            <div class="ui bottom attached primary button" [routerLink]="['/new/quiz']">
                                Click here to <br /> Create a quiz!
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <div class="header">Join quiz</div>
                                <div class="description">
                                    Join a quiz session <br /> Use the session id provided <br /> No account required <br /> Use a friendly username!
                                </div>
                            </div>
                            <div class="ui bottom attached yellow button" [routerLink]="['/join']">
                                Click here to<br /> Join us!
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="isBrowser && auth.isAuthenticated" class="column">
                    <table class="ui very basic table">
                        <thead>
                            <tr>
                                <th colspan="3">
                                    Last 5 results
                                </th>
                            </tr>
                            <tr>
                                <th>Points</th>
                                <th>Quiz</th>
                                <th>By</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let result of participantResults">
                                <td>{{result.score}}</td>
                                <td>{{result.session.quiz.title}}</td>
                                <td>{{result.session.quiz.creator.username }}</td>
                            </tr>
                        </tbody>
                        <tfoot class="full-width">
                            <tr>
                                <th colspan="3">
                                    <div class="ui right floated small labeled icon button" [routerLink]="['/fetch-results']">
                                        <i class="address card icon"></i> View All
                                    </div>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    -->
    </div>
</div>
