<!--<div id="sidebar" class="ui sidebar inverted vertical menu">
    <a class="item">1</a><a class="item">2</a>
</div>
<div class="pusher">

    <div class="ui inverted vertical left fixed menu tablet or lower hidden">
        <a class="item">1</a><a class="item">2</a>
    </div>

    <div class="ui sidebar visible fixed inverted main menu screen tablet mobile only">
        <a class="launch icon item sidebar-toggle">
            <i class="sidebar icon"></i>
        </a>
    </div>

    <div class="content">
        <h1>Contents</h1>
    </div>


</div>-->
<!--<div class="ui stackable large secondary vertical menu">
    <a class="active item">
        Account
    </a>
    <a class="item">
        Settings
    </a>
    <div class="ui dropdown item">
        <i class="dropdown icon"></i>
        Display Options
        <div class="menu">
            <div class="header">Text Size</div>
            <a class="item">Small</a>
            <a class="item">Medium</a>
            <a class="item">Large</a>
        </div>
    </div>
</div>-->
<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
    <div class="ui container">
        <a class="item" [routerLinkActive]="['active']" [routerLink]="['/home']">
            <i class="home icon"></i>
            Home
        </a>
        <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/join']">
            <i class="right arrow icon"></i>
            Join quiz
        </a>
        <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/create']">
            <i class="plus icon"></i>
            Create quiz
        </a>
        <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/groups']">
            <i class="users icon"></i>
            My Classes
        </a>
        <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/fetch-quizzes']">
            <i class="question circle icon"></i>
            My Quizzes
        </a>
        <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/fetch-results']">
            <i class="balance scale icon"></i>
            My Results
        </a>
        <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/settings']">
            <i class="user icon"></i>
            Profile
        </a>
        <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLink]="['/home']" (click)="auth.logout()">
            <i class="user times icon"></i>
            Logout
        </a>
        <a *ngIf="isBrowser && !auth.isAuthenticated" class="item" (click)="showJoinForm()">Join quiz</a>
        <a *ngIf="isBrowser && !auth.isAuthenticated" class="item" (click)="hideRegister()">Log in</a>
        <a *ngIf="isBrowser && !auth.isAuthenticated" class="item" (click)="hideLogin()">Signup</a>
    </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar labeled icon menu">
    <a class="item" [routerLinkActive]="['active']" [routerLink]="['/home']">
        <i class="home icon"></i>
        Home
    </a>
    <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/join']">
        <i class="right arrow icon"></i>
        Join quiz
    </a>
    <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/create']">
        <i class="plus icon"></i>
        Create quiz
    </a>
    <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/groups']">
        <i class="users icon"></i>
        My Classes
    </a>
    <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/fetch-quizzes']">
        <i class="question circle icon"></i>
        My Quizzes
    </a>
    <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/fetch-results']">
        <i class="balance scale icon"></i>
        My Results
    </a>
    <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/settings']">
        <i class="user icon"></i>
        Profile
    </a>
    <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLink]="['/home']" (click)="auth.logout()">
        <i class="user times icon"></i>
        Logout
    </a>
    <a *ngIf="isBrowser && !auth.isAuthenticated" class="item" (click)="showJoinForm()">Join quiz</a>
    <a *ngIf="isBrowser && !auth.isAuthenticated" class="item" (click)="hideRegister()">Log in</a>
    <a *ngIf="isBrowser && !auth.isAuthenticated" class="item" (click)="hideLogin()">Signup</a>
</div>


<!-- Page Contents -->
<div class="pusher">
    <div class="ui inverted vertical masthead segment" style="background-color: white">
        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a *ngIf="isBrowser && auth.isAuthenticated" class="item" style="padding-bottom:0" [routerLink]="['/home']"><img src="/android-chrome-192x192.png" /></a>
                <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/home']">Home</a>
                <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/groups']">My Classes</a>
                <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/fetch-quizzes']">My Quizzes</a>
                <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/fetch-results']">My Results</a>
                <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/settings']">Profile</a>
                <div *ngIf="isBrowser && auth.isAuthenticated" class="right item" [routerLink]="['/home']" (click)="auth.logout()">
                    <i class="power off icon" style="cursor: pointer"></i>
                    <!--<a class="ui inverted button">Log in</a>
        <a class="ui inverted button">Sign Up</a>-->
                </div>
            </div>
        </div>
        <div *ngIf="isBrowser && !this.auth.isAuthenticated"><home #f [loginShowed]="loginShowed" [joinShowed]="joinShowed" [registerShowed]="registerShowed"></home></div>
            <router-outlet *ngIf="isBrowser && auth.isAuthenticated"></router-outlet>
    </div>
</div>


<!--<div class='main-nav'>
    <div class='navbar navbar-default'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']" style="font-family:Cookie; font-size:40px">quiztime<span style="font-family:'Ceviche One'">!</span></a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav' style="font-family:'Open Sans'">
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>

                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-quizzes']">
                        <span class='glyphicon glyphicon-question-sign'></span> My Quizzes
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-results']">
                        <span class='glyphicon glyphicon-th-list'></span> My Results
                    </a>
                </li>

                <li *ngIf="isBrowser && auth.isAuthenticated">
                    <a [routerLink]="['/settings']">
                        <span class='glyphicon glyphicon-wrench'></span> Settings
                    </a>
                </li>

                <li *ngIf="isBrowser && !auth.isAuthenticated">
                    <a [routerLink]="['/login']">
                        <span class='glyphicon glyphicon-log-in'></span> Login
                    </a>
                </li>

                <li *ngIf="isBrowser && !auth.isAuthenticated">
                    <a [routerLink]="['/register']">
                        <span class='glyphicon glyphicon-user'></span> Register
                    </a>
                </li>

                <li *ngIf="isBrowser && auth.isAuthenticated">
                    <a [routerLink]="['/home']" (click)="auth.logout()">
                        <span class='glyphicon glyphicon-log-out'></span> Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>-->
