
<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
    <div class="ui container">
        <a class="item" [routerLinkActive]="['active']" [routerLink]="['/home']">
            <i class="home icon"></i>
            Home
        </a>
        <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/join']">
            <i class="right arrow icon"></i>
            Join quiz
        </a>
        <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/new/quiz']">
            <i class="plus icon"></i>
            Create quiz
        </a>
        <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/groups']">
            <i class="users icon"></i>
            My Classes
        </a>
        <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/fetch-quizzes']">
            <i class="question circle icon"></i>
            My Quizzes
        </a>
        <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/fetch-results']">
            <i class="balance scale icon"></i>
            My Results
        </a>
        <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/settings']">
            <i class="user icon"></i>
            Profile
        </a>
        <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLink]="['/welcome']" (click)="auth.logout()">
            <i class="user times icon"></i>
            Logout
        </a>
        <a *ngIf="isBrowser && !auth.isAuthenticated" class="item" (click)="showJoinForm()">Join quiz</a>
        <a *ngIf="isBrowser && !auth.isAuthenticated" class="item" (click)="hideRegister()">Log in</a>
        <a *ngIf="isBrowser && !auth.isAuthenticated" class="item" (click)="hideLogin()">Signup</a>
    </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar labeled icon menu">
    <a class="item" [routerLinkActive]="['active']" [routerLink]="['/home']">
        <i class="home icon"></i>
        Home
    </a>
    <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/join']">
        <i class="right arrow icon"></i>
        Join quiz
    </a>
    <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/new/quiz']">
        <i class="plus icon"></i>
        Create quiz
    </a>
    <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/groups']">
        <i class="users icon"></i>
        My Classes
    </a>
    <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/fetch-quizzes']">
        <i class="question circle icon"></i>
        My Quizzes
    </a>
    <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/fetch-results']">
        <i class="balance scale icon"></i>
        My Results
    </a>
    <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/settings']">
        <i class="user icon"></i>
        Profile
    </a>
    <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLink]="['/welcome']" (click)="auth.logout()">
        <i class="user times icon"></i>
        Logout
    </a>
    <a *ngIf="isBrowser && !auth.isAuthenticated" class="item" (click)="hideRegister()"><i class="right arrow icon"></i>Log in</a>
    <a *ngIf="isBrowser && !auth.isAuthenticated" class="item" (click)="hideLogin()"><i class="plus icon"></i>Signup</a>
</div>


<!-- Page Contents -->
<div class="pusher">
    <div class="ui inverted vertical masthead segment" style="background-color: white">
        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a *ngIf="isBrowser && auth.isAuthenticated" class="item" style="padding-bottom:0" [routerLink]="['/home']"><img src="/android-chrome-192x192.png" /></a>
                <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/home']">Home</a>
                <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/groups']">My Classes</a>
                <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/fetch-quizzes']">My Quizzes</a>
                <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/fetch-results']">My Results</a>
                <a *ngIf="isBrowser && auth.isAuthenticated" class="item" [routerLinkActive]="['active']" [routerLink]="['/settings']">Profile</a>
                <div *ngIf="isBrowser && auth.isAuthenticated" class="right item" [routerLink]="['/welcome']" (click)="auth.logout()">
                    <i class="power off icon" style="cursor: pointer"></i>
                    <!--<a class="ui inverted button">Log in</a>
        <a class="ui inverted button">Sign Up</a>-->
                </div>
            </div>
        </div>
        <div *ngIf="isBrowser && !this.auth.isAuthenticated"><welcome #f [loginShowed]="loginShowed" [registerShowed]="registerShowed"></welcome></div>
            <router-outlet *ngIf="isBrowser && auth.isAuthenticated"></router-outlet>
    </div>
</div>

